<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


{% extends "base.html" %}
{% block content %}

<h1>시각화 분석</h1>
<p class="subtitle">
전기차 보급과 인프라 격차를 시각적으로 분석합니다.
</p>

<div class="card">
    <h2>📈 구별 전기차 등록 대수</h2>
    <p>자치구별 전기차 보급 현황 비교</p>
    <!-- 나중에 그래프 삽입 -->
</div>

<div class="card">
    <h2>🔌 충전소 대비 전기차 수</h2>
    <p>충전 인프라 부담 지역 식별</p>
</div>

{% endblock %}

</body>
</html>