<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h1>데이터 수집</h1>
<p class="subtitle">
본 분석에 사용된 데이터 출처 및 주요 항목입니다.
</p>

<div class="card">
    <h2>📊 활용 데이터</h2>
    <ul>
        <li>광주광역시 구별 연령별 인구</li>
        <li>광주 차량 구별 연료별 등록</li>
        <li>광주 구별 충전소 수</li>
        <li>전기차 보조금 지원 금액</li>
    </ul>
</div>


<h1>한 눈에 보기</h1>
<p class="subtitle"> 수집한 데이터의 평균치를 한눈에 살펴봅니다. </p>
<div class="kpi-container">
    <div class="kpi-card">
        <h3>🚗전기차 등록 대수</h3>
        <p class="kpi-number"> 19,115 대</p>
        <span class="kpi-desc"> 광주 전체</span>
    </div>

    <div class="kpi-card">
        <h3>🔌충전소 수</h3>
        <p class="big-number">3196 개소</p>
        <span class="kpi-desc">공공 + 민간</span>
    </div>

    <div class="kpi-card">
        <h3>💰 보조금 평균</h3>
        <p class="big-number">3122 만원</p>
        <span class="kpi-desc">2025기준</span>
    </div>

     <div class="kpi-card warning">
        <h3> 자치구별 인구 현황</h3>
        <p class="kpi-number">평균 278,402명</p>
        <span class="kpi-desc">광주광역시 2025년 기준</span>
    </div>
</div>

<h1>출처</h1>
<p class="subtitle">
본 분석에 사용된 데이터 출처 항목입니다.
</p>
<div class="card">
    <h2>📊 데이터 출처</h2>
    <ul>
        <li>공공데이터 포털</li>
        <li>광주광역시 포털</li>
        <li>charge.korea 포털</li>
    </ul>
</div>


   
</div>
{% endblock %}

</body>
</html>