<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h1>데이터 소개</h1>
<p class="subtitle">
본 분석에 사용된 데이터 출처 및 주요 항목입니다.
</p>

<div class="card">
    <h2>📊 활용 데이터</h2>
    <ul>
        <li>• 광주광역시 구별 전기차 등록 현황</li>
        <li>• 연료별 차량 등록 통계</li>
        <li>• 전기차 충전소 설치 현황</li>
        <li>• 전기차 보조금 지원 금액 (2021~2025)</li>
        <li>• 구별 인구 및 인구밀도</li>
    </ul>
</div>

<div class="card">
    <h2>🏛 데이터 출처</h2>
    <p>
        공공데이터포털, 통계청, 국토교통부 자료를 활용했습니다.
    </p>
</div>
<br>
<h1>광주광역시 전기차 정책 대시보드</h1>
<p class="subtitle"> 광주광역시 전기차 보급 현황과 정책 효과를 한눈에 살펴봅니다. </p>
<div class="kpi-container">
    <div class="kpi-card">
        <h3>🚗전기차 등록 대수</h3>
        <p class="kpi-number">XX,XXX 대</p>
        <span class="kpi-desc"> 광주 전체</span>
    </div>

    <div class="kpi-card">
        <h3>🔌충전소 수</h3>
        <p class="big-number">XXX 개소</p>
        <span class="kpi-desc">공공 + 민간</span>
    </div>

    <div class="kpi-card">
        <h3>💰 보조금 누적</h3>
        <p class="big-number">XXXX 억 원</p>
        <span class="kpi-desc">2021~2025</span>
    </div>

     <div class="kpi-card warning">
        <h3>⚠ 충전소 대비 전기차</h3>
        <p class="kpi-number">25.3대</p>
        <span class="kpi-desc">충전 인프라 압박</span>
    </div>
</div>
{% endblock %}

</body>
</html>