<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h1>팀 소개</h1>
<p class="subtitle">
광주 전기차 정책 분석 프로젝트 팀입니다.
</p>

<div class="card">
    <h2>👩‍💻 팀원 역할</h2>
    <ul>
        <li>이상원()</li>
        <li>서현철()</li>
        <li>문병근()</li>
        <li>채유미()</li>
        <li>홍수지()</li>
    </ul>
</div>

{% endblock %}


</body>
</html>