<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h1>팀 소개</h1>
<p class="subtitle">
광주 전기차 정책 분석 프로젝트 팀입니다.
</p>

<div class="card">
    <h2>👩‍💻 팀원 역할</h2>
    <ul>
        <li><h3>이상원(Project Lead)</h3></li>
        <br>
        <li><h3>서현철(Policy&Insight Lead)</h3></li>
        <br>
        <li><h3>문병근(Data Strategy Lead)</h3></li>
        <br>
        <li><h3>채유미(Visualization&UX Lead)</h3></li>
        <br>
        <li><h3>홍수지(Data Analytics Lead)</h3></li>
    </ul>
</div>

{% endblock %}


</body>
</html>