<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

{% extends "base.html" %}
{% block content %}

<h1 class="page-title">광주광역시 전기차 보급 구조 분석</h1>

<div class="toc-box">
    <h3 class="toc-title"> 데이터 목록</h3>

    <a href="#chart1" class="toc-item">
        <span class="num">①</span>
        광주광역시 자동차 총 등록대수 연간 증가 추이 (2021~2025)
    </a>

    <a href="#chart2" class="toc-item">
        <span class="num">②</span>
        광주광역시 연도별 연료타입 점유율 변화 (2020~2025)
    </a>

    <a href="#chart3" class="toc-item">
        <span class="num">③</span>
        광주광역시 연료 타입별 비중 변화 추이 (2020~2025)
    </a>

    <a href="#chart4" class="toc-item">
        <span class="num">④</span>
        구별 전기차 보급 수준 (정규화)
    </a>

    <a href="#chart5" class="toc-item">
        <span class="num">⑤</span>
        2025년 구별 30~50대 비중 / 전기차 보급률
    </a>

    <a href="#chart6" class="toc-item">
        <span class="num">⑥</span>
        보조금 변화와 전기차 보급 상승량 추이
    </a>

    <a href="#chart7" class="toc-item">
        <span class="num">⑦</span>
        구별 인구수 × 전기차 보급률
    </a>

    <a href="#chart8" class="toc-item">
        <span class="num">⑧</span>
        구별 전기차 수 대비 충전기 수 현황
    </a>

    <a href="#chart9" class="toc-item">
        <span class="num">⑨</span>
        전기차 1대당 충전기 수 (2025)
    </a>
</div>

{% endblock %}

</body>
</html>